.App{
  background-color: '#ffffff';
  margin: auto;
  padding: 20px 20px 0px 20px;
}
.blurApp{
  background-color: '#ffffff';
  margin: auto;
  padding: 20px 20px 0px 20px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}